body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    text-align: center;
    background-color: skyblue;
    color: white;
    width: 100vw;
}

.registration-form {
    border: 1px hidden ;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 5px whitesmoke;
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
    /* text-align: center; */

}

.text-field {
    display: block;
    margin: 0 auto;
    width: 30vw;
    border: 1px solid lightskyblue;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem ;
    padding: .5rem 0;
}

.radio-label,
.checkbox-label {
    display: block;
    text-align: left;
    
}

label{
    display: block;
    text-align: center;
}

.section {
    border-top: 1px solid lightgray;
    margin: 10px 0;
    padding-top: 10px;
}


.section > label {
    display: block;
    text-align: left;
}

select {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

textarea {
    display: block;
    margin: 10px auto;
    background-color: rgb(241, 241, 241);
    width: 75vw;
    height: 7vh;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.form-button {
    font-family: 'Poppins', sans-serif;
    border: 2px solid lightskyblue;
    background-color: white;
    padding: 1vh 2vw;
    display: block;
    margin: 0 auto;
}

.form-button:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}

